/* Here are various declarations of LEDs as css stylesheet. */

/* This is the Container for an LED */
.led-box {
	height: 30px;
	width: 30px;
	margin: 10px 0;
	float: left;
}
.led-box p {
	font-size: 12px;
	text-align: center;
	margin: 1em;
}

.led-basic{
	top:3px;
	position: relative;
	margin: 0 auto;
	width: 24px;
	height: 24px;
}

.led-big{
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

.led-mid{
	margin: 0 auto;
	width: 50px;
	height: 50px;
}

/* Here starts the led definition */
.led-red-off {
	background-color: #A00;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}
.led-red-on {
	background-color: #F00;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}
.led-red-blink {
	background-color: #F00;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
	-webkit-animation: blinkRed 1s infinite;
	-moz-animation: blinkRed 1s infinite;
	-ms-animation: blinkRed 1s infinite;
	-o-animation: blinkRed 1s infinite;
	animation: blinkRed 1s infinite;
}
@-webkit-keyframes blinkRed {
	from {
		background-color: #F00;
   }
	50% {
		background-color: #A00;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
   }
	to {
		background-color: #F00;
   }
}
@-moz-keyframes blinkRed {
	from {
		background-color: #F00;
   }
	50% {
		background-color: #A00;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
   }
	to {
		background-color: #F00;
   }
}
@-ms-keyframes blinkRed {
	from {
		background-color: #F00;
   }
	50% {
		background-color: #A00;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
   }
	to {
		background-color: #F00;
   }
}
@-o-keyframes blinkRed {
	from {
		background-color: #F00;
   }
	50% {
		background-color: #A00;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
   }
	to {
		background-color: #F00;
   }
}
@keyframes blinkRed {
	from {
		background-color: #F00;
   }
	50% {
		background-color: #A00;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
   }
	to {
		background-color: #F00;
   }
}
.led-yellow-off {
	background-color: #AA0;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}
.led-yellow-on {
	background-color: #FF0;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}
.led-yellow-blink {
	background-color: #FF0;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
	-webkit-animation: blinkYellow 1s infinite;
	-moz-animation: blinkYellow 1s infinite;
	-ms-animation: blinkYellow 1s infinite;
	-o-animation: blinkYellow 1s infinite;
	animation: blinkYellow 1s infinite;
}
@-webkit-keyframes blinkYellow {
	from {
		background-color: #FF0;
   }
	50% {
		background-color: #AA0;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
   }
	to {
		background-color: #FF0;
   }
}
@-moz-keyframes blinkYellow {
	from {
		background-color: #FF0;
   }
	50% {
		background-color: #AA0;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
   }
	to {
		background-color: #FF0;
   }
}
@-ms-keyframes blinkYellow {
	from {
		background-color: #FF0;
   }
	50% {
		background-color: #AA0;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
   }
	to {
		background-color: #FF0;
   }
}
@-o-keyframes blinkYellow {
	from {
		background-color: #FF0;
   }
	50% {
		background-color: #AA0;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
   }
	to {
		background-color: #FF0;
   }
}
@keyframes blinkYellow {
	from {
		background-color: #FF0;
   }
	50% {
		background-color: #AA0;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
   }
	to {
		background-color: #FF0;
   }
}
.led-green-on {
	background-color: #ABFF00;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 14px;
}
.led-green-off {
	background-color: #8DAA00;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 14px;
}
.led-green-blink {
	background-color: #ABFF00;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 14px;
	-webkit-animation: blinkGreen 1s infinite;
	-moz-animation: blinkGreen 1s infinite;
	-ms-animation: blinkGreen 1s infinite;
	-o-animation: blinkGreen 1s infinite;
	animation: blinkGreen 1s infinite;
}
@-webkit-keyframes blinkGreen {
	from {
		background-color: #ABFF00;
   }
	50% {
		background-color: #8DAA00;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #ABFF00 0 2px 0;
   }
	to {
		background-color: #ABFF00;
   }
}
@-moz-keyframes blinkGreen {
	from {
		background-color: #ABFF00;
   }
	50% {
		background-color: #8DAA00;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #ABFF00 0 2px 0;
   }
	to {
		background-color: #ABFF00;
   }
}
@-ms-keyframes blinkGreen {
	from {
		background-color: #ABFF00;
   }
	50% {
		background-color: #8DAA00;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #ABFF00 0 2px 0;
   }
	to {
		background-color: #ABFF00;
   }
}
@-o-keyframes blinkGreen {
	from {
		background-color: #ABFF00;
   }
	50% {
		background-color: #8DAA00;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #ABFF00 0 2px 0;
   }
	to {
		background-color: #ABFF00;
   }
}
@keyframes blinkGreen {
	from {
		background-color: #ABFF00;
   }
	50% {
		background-color: #8DAA00;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #ABFF00 0 2px 0;
   }
	to {
		background-color: #ABFF00;
   }
}
.led-blue-off {
	background-color: #1586AA;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, rgb(37, 83, 153) 0 2px 14px;
}
.led-blue-on {
	background-color: #24E0FF;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}
.led-blue-blink {
	background-color: #24E0FF;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
	-webkit-animation: blinkBlue 1s infinite;
	-moz-animation: blinkBlue 1s infinite;
	-ms-animation: blinkBlue 1s infinite;
	-o-animation: blinkBlue 1s infinite;
	animation: blinkBlue 1s infinite;
}
@-webkit-keyframes blinkBlue {
from {
	background-color: #24E0FF;
}
50% {
	background-color: #1586AA;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #1586AA 0 2px 0;
}
to {
	background-color: #24E0FF;
}
}
@-moz-keyframes blinkBlue {
from {
	background-color: #24E0FF;
}
50% {
	background-color: #1586AA;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, rgb(37, 83, 153) 0 2px 0;
}
to {
	background-color: #24E0FF;
}
}
@-ms-keyframes blinkBlue {
from {
	background-color: #24E0FF;
}
50% {
	background-color: #1586AA;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, rgb(37, 83, 153) 0 2px 0;
}
to {
	background-color: #24E0FF;
}
}
@-o-keyframes blinkBlue {
from {
	background-color: #24E0FF;
}
50% {
	background-color: #1586AA;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, rgb(37, 83, 153) 0 2px 0;
}
to {
	background-color: #24E0FF;
}
}
@keyframes blinkBlue {
from {
	background-color: #24E0FF;
}
50% {
	background-color: #1586AA;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, rgb(37, 83, 153) 0 2px 0;
}
to {
	background-color: #24E0FF;
}
}

.led-gray-off {
	background-color: #a7a7a7;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 1px 1px, inset rgb(63, 63, 63) 0 -1px 9px, rgb(136, 136, 136) 0 1px 3px;
}

.led-orange-on {
	background-color: #ffae00;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #995d02 0 -1px 9px, #ffae00 0 2px 14px;
}