/**** GENERAL STYLEING ****/
.display-none {
	/* Helper class*/
	display: none;
}


/**** HEADDINGS ****/
h2 {
	margin-bottom: 25px;
}

h3 {
	margin-top: 10px;
	margin-bottom: 15px;
}

/**** BADGES ****/
.badge {
	font-size: 65%;
}

.badge-primary {
	background-color:#004388;
}

.badge-info {
	background-color: #007cb4;
}


/**** BUTTONS ****/
.btn-primary {
	border: 0;
	background-color: #00a6e2;
}

.btn-primary:hover {
	background-color: rgba(0, 67, 136, 0.80);
}

.btn-primary:disabled {
	border: 0;
	background-color: rgba(0, 166, 226, 0.80);
}

.btn-warning {
	border: 0;
	background-color: #f7a600;
}

.btn-warning:disabled {
	border: 0;
	background-color:  rgba(247, 166, 0, 0.80);
}


/**** ALERTS ****/
.alert-primary {
	background-color: #004388;
	color: white;
	border-color: #004388;
}


/**** TABLES ****/
.table td.text {
    max-width: 177px;
}

.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}


/**** TRENNLINIEN ****/
hr.dotted {
	border-top: 2px dotted#004388;
	display: none;
}

/***** NAVIGATION *****/
/* Info: spread nav items over full with, on huge screens */ 
/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {

	.navbar-nav {
		display:table;
		width:100%;
		margin: 0;
	}

	.navbar-nav > a {
		float:none;
		display:table-cell;
		text-align:center;
		padding: 3;
	}

	.nav-item{
		text-align: center;
}
}
.datablock {
	text-align: right;
	line-height: 250%;
	font-weight: bold;
	}
.datablock {
	text-align: right;
	line-height: 250%;
	font-weight: bold;
}	

.nav-active{
	font-weight: bolder; 
	color: rgb(80, 58, 58);
	opacity: 1;
	background-color: #f8f9fa;
	/*box-shadow: -2px 6px rgba(0, 67, 136, 0.80);*/
	
}

.nav-inactive{
	color: rgb(58, 58, 58);
	opacity: 0.7;
}

/* LOGO SECTION */
@media (max-width: 768px) {
	#clientLogo{
		display:block;
    	margin:auto;
	}
	#clientLogo_box{
		order: 0;
		float: center;
		align-content: center;
		padding-bottom: 30px;
		padding-left: 0;
	}
	#home_device_title{
		padding: 0 !important;
		font-size: 80%;
	}
	#home_device_subtitle{
		padding: 0 !important;
		font-size: 80%;
	}
}
@media (min-width: 768px) {
	#clientLogo_box{
		padding-top: 20px;
		padding-right: 5%;
		text-align: right;
	}
}
/***** RESPONSIVE RELATED *****/

body{ min-height:100vh; margin:0; position:relative; }
header{ height: 40px; background: #004388; }
footer{ background:PapayaWhip; }

/* Trick: */
body {
	position: relative;
  }
  body::after {
	content: '';
	display: block;
	height: 30px; /* Set same as footer's height */
}

footer {
	background-color: #00629B;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
} 

/* Footer responsiver design */

@media (max-width: 768px) {
	body::after {
		height: 52px; /* Set same as footer's height */
	}
	footer {
		height: 52px;
	}
	#footer_copyright{
		text-align: center;
	}
	#footer_contact{
		text-align: center;

		padding-left: 60px;
	}
}

@media (min-width: 768px) {
	body::after {
		height: 30px; /* Set same as footer's height */
	}
	footer {
		height: 30px;
	} 
	#footer_copyright{
		text-align: left;
	}
	#footer_contact{
		text-align: right;
		padding-left: 0px;
	}
}