image: git.ed-chemnitz.de:5001/docker/ci-runner-xab-esp32:idf-v4.4.1

stages:
  - build
  - deploy
#  - update

# build job for ESP32 firmware (app and data)
build-development:
  stage: build

  script:
    - python esp32-scripts/esp32-main-builder.py build update target=debug
    - mv build/update.bin $FIRMWARE_NAME-$CI_COMMIT_SHORT_SHA-DEBUG.bin

  artifacts:
    paths:
      - build/*.bin
      - build/bootloader/*.bin
      - build/partition_table/*.bin
      - sdkconfig
      - "*.csv"
      - "*.defaults"
      - "*.bin"
      - esp-idf/components/esptool_py/esptool/*
      - esp32-scripts/*
    name: "$FIRMWARE_NAME-$CI_COMMIT_SHORT_SHA-DEBUG"
    expire_in: 1 week

# copy and store files for tags
deploy-development:
  stage: deploy
  
  only:
    - tags

  needs:
    - job: build-development

  script:
    - mv $FIRMWARE_NAME-$CI_COMMIT_SHORT_SHA-DEBUG.bin $FIRMWARE_NAME-$CI_COMMIT_TAG-DEBUG.bin

  artifacts:
    paths:
      - build/*.bin
      - build/bootloader/*.bin
      - build/partition_table/*.bin
      - sdkconfig
      - "*.csv"
      - "*.defaults"
      - "*.bin"
      - esp-idf/components/esptool_py/esptool/*
      - esp32-scripts/*
    name: "$FIRMWARE_NAME-$CI_COMMIT_TAG-DEBUG"


# build for release
build-release:
  stage: build

  script:
    - mv /usr/bin/cert/* .
    - ls
    - python esp32-scripts/esp32-main-builder.py build update target=release
    - mv build/update.bin $FIRMWARE_NAME-$CI_COMMIT_SHORT_SHA.bin

  artifacts:
    paths:
      - build/*.bin
      - build/bootloader/*.bin
      - build/partition_table/*.bin
      - sdkconfig
      - "*.csv"
      - "*.defaults"
      - "*.bin"
      - esp-idf/components/esptool_py/esptool/*
      - esp32-scripts/*
    name: "$FIRMWARE_NAME-$CI_COMMIT_SHORT_SHA"
    expire_in: 1 week

# copy and store files for tags
deploy-release:
  stage: deploy
  
  only:
    - tags

  needs:
    - job: build-release

  script:
    - mv $FIRMWARE_NAME-$CI_COMMIT_SHORT_SHA.bin $FIRMWARE_NAME-$CI_COMMIT_TAG.bin

  artifacts:
    paths:
      - build/*.bin
      - build/bootloader/*.bin
      - build/partition_table/*.bin
      - sdkconfig
      - "*.csv"
      - "*.defaults"
      - "*.bin"
      - esp-idf/components/esptool_py/esptool/*
      - esp32-scripts/*
    name: "$FIRMWARE_NAME-$CI_COMMIT_TAG"

    
variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_DEPTH: 2