# Name of specific docker image
image: debian:buster

# specific variables
variables:
  GIT_SUBMODULE_STRATEGY: recursive # pull project recursive (including submodules)

# stages in this script
stages:
  - deploy

# my deploy stage
deploy-complete-archive-tag:
  stage: deploy
  
  # do this only if the commit is tagged
  only:
    - tags

  # executed steps
  script:
    - ( find . -type d -name ".git" && find . -name ".gitignore" && find . -name ".gitmodules" && find . -name ".github") | xargs rm -rf
    - echo "Liste der Dateien:"
    - ls *

  # what is in my artifacts
  artifacts:
    paths:
      - ./*

    name: "$CI_PROJECT_NAME-$CI_COMMIT_TAG" # Name of the Zip-Archive

# my deploy stage
deploy-complete-archive-commit:
  stage: deploy
  
  # not on tags
  except:
    - tags

  # executed steps
  script:
    - ( find . -type d -name ".git" && find . -name ".gitignore" && find . -name ".gitmodules" && find . -name ".github") | xargs rm -rf
    - echo "Liste der Dateien:"
    - ls *

  # what is in my artifacts
  artifacts:
    paths:
      - ./*

    name: "$CI_PROJECT_NAME-$CI_COMMIT_SHORT_SHA" # Name of the Zip-Archive