image: git.ed-chemnitz.de:5001/docker/ci-runner-xab:buster

stages:
  - analyze

#Static Code Checking
analyze-cppcheck:
  stage: analyze
  script: 
      - cppcheck --enable=style --std=c11 --std=c++11 --std=posix . --xml 2> report.xml
      - cppcheck-htmlreport --file=report.xml --report-dir=report --source-dir=. --title=$CI_PROJECT_NAME
  artifacts:
    paths:
      - report/index.html
    name: "cppcheck-report"
    expire_in: 1 week

variables:
  GIT_SUBMODULE_STRATEGY: recursive
